@import "./gradients.css";
@import "tailwindcss";

@font-face {
    font-family: "Rodin";
    src: url("/fonts/rodin-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "PsBold";
    src: url("/fonts/PsBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

canvas {
    touch-action: none;
}

.font-rodin {
    font-family: "Rodin", sans-serif;
}

.font-ps {
    font-family: "PsBold", sans-serif;
}
